---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - batch
  resources:
  - jobs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - gitea.bpg.pw
  resources:
  - runnergroups
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - gitea.bpg.pw
  resources:
  - runnergroups/finalizers
  verbs:
  - update
- apiGroups:
  - gitea.bpg.pw
  resources:
  - runnergroups/status
  verbs:
  - get
  - patch
  - update
