apiVersion: gitea.bpg.pw/v1alpha1
kind: RunnerGroup
metadata:
  labels:
    app.kubernetes.io/name: gitea-runner-operator
    app.kubernetes.io/managed-by: kustomize
  name: runnergroup-sample
spec:
  # TODO(user): Add fields here
