apiVersion: v1
kind: Secret
metadata:
  name: gitea-credentials
  labels:
    app.kubernetes.io/name: gitea-runner-operator
    app.kubernetes.io/managed-by: kustomize
stringData:
  # The Gitea API Token (for the Operator to poll for jobs)
  auth-token: "MMUCFRXCbofYn2L0aT2OP2aug7JhChNJlULKNLgg"
  # The Runner Registration Token (for the Runner to register itself)
  registration-token: "5r4lpLA9rKCZZEHyUyKHeA187DoaElcTBySITRRi"
---
apiVersion: gitea.bpg.pw/v1alpha1
kind: RunnerGroup
metadata:
  labels:
    app.kubernetes.io/name: gitea-runner-operator
    app.kubernetes.io/managed-by: kustomize
  name: runnergroup-sample
spec:
  # The base URL of your Gitea instance
  giteaURL: "https://gitea.bpg.pw"

  # Scope of the runners (global, org, or repo)
  scope: "org"
  org: "bapung" # Required if scope is 'org' or 'repo'
  user: "" # Required if scope is 'user' or 'repo'
  #repo: "dummy-service-workflow" # Required if scope is 'repo'

  # Labels to identify this runner group
  labels:
    - "linux"
    - "amd64"

  # Maximum number of runners to spawn concurrently
  maxActiveRunners: 5

  # Reference to the Secret containing the API token
  authToken:
    name: gitea-credentials
    key: auth-token

  # Reference to the Secret containing the Registration token
  registrationToken:
    name: gitea-credentials
    key: registration-token
